{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <form action="/quotes/{{quote.id}}?_method=PUT"  method="POST">
        <fieldset>
            <legend>Edit Quote</legend>
            <label class="form-label">Name:</label>
            <input 
                class="form-control" 
                type="text" 
                name="name" 
                placeholder="enter your name"
                value= "{{quote.name}}"
            >
            <label class="form-label">Number:</label>
            <input 
                class="form-control" 
                type="text" 
                name="number" 
                placeholder="enter phone number"
            >
            <!-- how to put the pre filled info in maybe by dotting into it random   -->
            <label class="form-label">Brief Description Of Issue:</label>
            <input 
                class="form-control" 
                type="text" 
                name="issue"
                placeholder="enter repair option here"
                
            >
            <label class="form-label">
            Select A Device:</label>
            <select name="device" id="device">
            {% for device in devices %}
            <option value={{device._id}}>
                {{device.make}}
                {{device.model}}</option>
            {% endfor %}
            </select> 
        </fieldset>

        <!-- submit button -->
            <input 
                type="submit" 
                value="Edit" 
                class="btn btn-success">
            
            <!-- back button -->
            <a href="/quotes/myquotes" class="btn btn-warning"> Back </a>
        </div>
    </form>
</div>
{% endblock%}