{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <form action="/quotes/{{quote._id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Quote</legend>
            <!-- is it suppose to be {{quote.device}} & name wont change -->
            <label class="form-label">Number:</label>
            <input 
                class="form-control" 
                type="text" 
                name="number" 
                placeholder="enter phone number"
                value="{{quote.number}}"
            >
            <label class="form-label">Brief Description Of Issue:</label>
            <input 
                class="form-control" 
                type="text" 
                name="issue"
                value="{{quote.issue}}"
            >
            <label class="form-label">Type Of Device</label>
            <select name="device" id="device">
            {% for device in devices %}
            <option value={{device._id}}>{{device.make}}{{device.model}}</option>
            {% endfor %}
            </select> 

        </fieldset>
        <div class="btn-group">
            <input type="submit" value="Submit {{ quote.device.make.model}} " class="btn btn-success">
            <a href="/quotes/myquotes" class="btn btn-warning"> Back </a>
        </div>
    </form>
</div>
{% endblock%}