{% layout 'layout.liquid' %}

{% block content %}
<div> 
    <div class ="container-main">
    <h2 class="display-6">All Quotes</h2>
    <div class="row">

        {% for quote in quotes %}
            <div class="card" 
            style="width: 18rem">
                <h5 class="card-header">{{quote.name}}</h5>
                <div class="card-body">
                    <h6 class="card-title">{{quote.number}}</h5>
                    <!-- <h5 class="card-header">{{quote.name}}</h5> -->
                    
                    <!-- view button -->
                    <a href="/quotes/{{quote._id}}" class="btn btn-info">View </a>

                    <!-- edit button -->
                    <a href="/quotes/{{quote._id}}/edit" class="btn btn-info">Edit </a>
                    
                    <!-- delete button -->
                    <form action="/quotes/{{quote._id}}/delete?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}